<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngIf="contact">
    <ion-label>
      Name: {{contact?.name}}
      <p *ngIf="contact?.phones" style="margin-top: 4px; display: flex; flex-direction: column">
        <ion-text>
          Phone numbers:
        </ion-text>
        <ion-text *ngFor="let contact of contact.phones" style="margin-top: 4px">
          {{ contact.phone }}
        </ion-text>
      </p>
    </ion-label>
  </ion-item>
</ion-content>
